{% extends "core/base.html" %}
{% block content %}

<h2 class="text-center fw-bold text-success mb-4">🛒 Tu Carrito</h2>

<div class="container">
    {% if detalle %}
        <table class="table table-bordered">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
            </tr>

            {% for item in detalle %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>${{ item.subtotal }}</td>
                <td>
                    <a href="{% url 'eliminar_item' item.producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h4 class="text-end fw-bold">Total: ${{ total }}</h4>

        <a href="{% url 'checkout' %}" class="btn btn-success w-100">Finalizar Compra</a>

    {% else %}
        <p class="text-center text-muted">Tu carrito está vacío 🥺</p>
    {% endif %}
</div>

{% endblock %}
